<div
  class="main-container flex flex-col justify-center items-center mt-[30%] w-80 mx-auto"
>
  <div class="flex flex-row justify-between w-full mb-[3rem]">
    <div
      class="bg-white p-3 rounded-md outline outline-gray-500 outline-2 cursor-pointer w-fit hover:bg-dark-gray hover:text-white duration-300"
      (click)="handleBack()"
    >
      Back 👈🏼
    </div>
  </div>
  <h1 class="font-bold text-[1.5rem] self-center">Add New Habit</h1>

  <div
    class="form-container grid grid-cols-1 gap-[1rem] w-full mt-[2rem] mb-[2rem]"
  >
    <form [formGroup]="form" (ngSubmit)="handleAdd()">
      <label for="habit_name" class="w-full">Habit Name </label>
      <input
        type="text"
        name="habit_name"
        formControlName="habit_name"
        class="outline outline-gray-200 outline-1 rounded-md py-2 px-4 w-full mt-[1rem] mb-[1.5rem]"
        placeholder="Enter new habit's name here"
      />
      <label class="w-full">Unit Measurement</label>
      <div class="grid grid-cols-2 gap-[0.5rem] mt-[1rem] mb-[3rem]">
        <p
          *ngFor="let unit of lookups.units"
          class="outline outline-gray-200 cursor-pointer outline-1 rounded-md p-2 w-full text-center hover:bg-secondary duration-300 hover:text-white hover:outline-secondary"
        >
          {{ unit.unit_name.toUpperCase() }}
        </p>
      </div>
      <button
        class="w-full p-3 text-white bg-dark-gray rounded-md hover:bg-primary duration-300"
        type="submit"
      >
        Add New Habit
      </button>
    </form>
  </div>
</div>
