<div
  class="main-container flex flex-col justify-center items-center mt-[30%] mb-[30%] w-80 mx-auto"
>
  <div class="flex flex-row justify-between w-full mb-[3rem]">
    <div
      class="bg-white p-3 rounded-md outline outline-gray-500 outline-2 cursor-pointer w-fit hover:bg-dark-gray hover:text-white duration-300"
      (click)="handleBack()"
    >
      Back 👈🏼
    </div>
  </div>
  <div
    *ngIf="lookups.habit.length > 0"
    class="flex flex-col gap-2 justify-center"
  >
    <div
      class="habit-name flex flex-col justify-center gap-[1.5rem] items-center"
    >
      <h1 class="font-bold text-[1.5rem] self-center">
        {{ lookups.habit[0].habit_name }}
      </h1>

      <h1 class="self-center">
        Measured in
        <span
          *ngIf="selectedUnit"
          class="bg-secondary rounded-md py-1 px-3 w-fit text-center"
        >
          {{ selectedUnit.unit_name }}
        </span>
      </h1>
      <h1
        [ngClass]="{
          ' py-2 px-3 rounded-md outline outline-gray-500 outline-2 cursor-pointer w-fit hover:bg-dark-gray hover:text-white duration-300': true,
          'bg-dark-gray text-white': isEditing === true
        }"
        (click)="toggleEdit()"
      >
        Options
      </h1>
    </div>
    <ng-container *ngIf="isEditing">
      <form [formGroup]="form" (ngSubmit)="handleUpdateHabit()">
        <label for="habit_name" class="w-full">Habit Name </label>
        <input
          type="text"
          name="habit_name"
          formControlName="habit_name"
          class="outline outline-gray-200 outline-1 rounded-md py-2 px-4 w-full mt-[1rem] mb-[1.5rem]"
          placeholder="Enter new habit's name here"
        />
        <label class="w-full">Unit Measurement</label>
        <div class="grid grid-cols-2 gap-[0.5rem] mt-[1rem] mb-[3rem]">
          <p
            *ngFor="let unit of lookups.units"
            [ngClass]="{
              'outline-gray-200 outline cursor-pointer outline-1 rounded-md p-2 w-full text-center hover:bg-secondary duration-300 hover:text-white hover:outline-secondary': true,
              'bg-secondary': currentUnitId === unit.unit_id
            }"
            (click)="setUnitId(unit.unit_id)"
          >
            {{ unit.unit_name.toUpperCase() }}
          </p>
        </div>

        <div class="flex flex-col gap-[1rem] justify-center">
          <button
            [ngClass]="{
              'w-full p-3 text-white bg-dark-gray rounded-md duration-300':
                'hover:bg-primary',
              'opacity-50': !form.valid
            }"
            type="submit"
            [disabled]="!form.valid"
          >
            Update Habit
          </button>
          <button
            type="button"
            class="w-full p-3 text-white bg-red-600 rounded-md duration-300 hover:bg-red-700"
            (click)="handleDeleteHabit()"
          >
            Delete Habit
          </button>
        </div>
      </form>
    </ng-container>
    <div
      *ngIf="this.lookups.entries"
      class="color-[#2adac7] rounded-md p-[1rem] mt-[2rem] w-[50%] mx-auto outline-gray-400 outline outline-1 scroll"
    >
      <div id="cal-heatmap" class="text-dark-gray overflow-x-scroll"></div>
    </div>
  </div>
</div>
