@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Mono", monospace;
}

.fill-value-1 {
  fill: #bdddc7;
}

.fill-value-2 {
  fill: #82cbc1;
}

.fill-value-3 {
  fill: #48a39a;
}

.fill-value-4 {
  fill: #27877f;
}

.fill-value-5 {
  fill: #0b655d;
}

.fill-value-6 {
  fill: #004e44;
}

.fill-none {
  fill: #eaedf0;
}
