<div class="main-container flex flex-col justify-center items-center">
  <div
    class="login-card flex flex-col p-8 outline outline-gray-300 outline-1 text-dark-gray bg-white w-[90%] rounded-md my-[20%]"
  >
    <h1 class="font-bold font-mono text-center mb-2 text-[24px]">
      Welcome back
    </h1>
    <p class="text-center text-[14px] mx-6">
      Enter your username and password to sign in to your account.
    </p>

    <div
      class="form-container flex flex-col justify-center my-[1rem] text-dark-gray"
    >
      <form
        [formGroup]="form"
        (ngSubmit)="signIn()"
        class="flex flex-col gap-2"
      >
        <label for="username" class="w-full">Username</label>
        <input
          type="text"
          name="username"
          formControlName="username"
          class="outline outline-gray-200 outline-1 rounded-md py-2 px-4 w-full mb-[1rem]"
          placeholder="Enter your username here"
        />
        <label for="password" class="w-full">Password</label>
        <input
          type="password"
          name="password"
          formControlName="password"
          class="outline outline-gray-200 outline-1 rounded-md py-2 px-4 w-full mb-[2rem]"
          placeholder="Enter your password here"
        />
        <button
          class="w-full p-3 text-white bg-dark-gray rounded-md"
          type="submit"
        >
          Sign In
        </button>
      </form>
    </div>
  </div>
</div>
